[tool.poetry]
name = "parchmint"
version = "0.1.3"
description = ""
authors = ["Radhakrishna Sanka"]
packages = [
    { include = "parchmint/*.py"}
]

[tool.poetry.dependencies]
python = "^3.8"
networkx = "^2.5"
jsonschema = "^3.2.0"
argparse = "^1.4.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.dephell.main]
from = {format = "poetry", path = "pyproject.toml"}
to = {format = "setuppy", path = "setup.py"}

[tool.poetry.scripts]
parchmint-validate = "parchmint.cmdline:validate_V1"
