[tool.poetry]
name = "parchmint"
version = "0.1.2"
description = ""
authors = ["Radhakrishna Sanka"]
packages = [
    { include = "parchmint/*.py"}
]

[tool.poetry.dependencies]
python = "^3.8"
networkx = "^2.5"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
